
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

#instances-container{
  position: relative;  
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #d18829;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #b86f10;
}

.card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .ec2_display{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
} 

.ec2_display .ec2_name{
  font-size: 20px;
  font-weight: 600;
}

.ec2_display .ec2_type{
  font-size: 15px;
  font-weight: 500;
}

.card-content .ec2_info{
    margin-top: 10px;
    align-self: flex-start;
}

.card-content .ec2_info > li{
    font-size: 15px;
    margin: 3px;
}